<div id="header" style="width:100%; text-align:right;">
    <a href="/#">Quantum Brain </a>{{user.username}}<a ui-sref="fatmind.logout">logout</a>
</div>
<div class="note-form">
    <textarea  id="brainText" rows="8" cols="40" ng-model="quantum.note"></textarea>
    <br/>
    <button class="acceptButton" name="button"  ng-click="n.searchQuantum()">Search</button>
    <button class="acceptButton" name="button" ng-click="n.postQuantum()">Add</button>
</div>
<div class="note-list">
    <ul >
      <li class="noteStyle" ng-repeat="a in quanta track by $index" ng-show="a.note">
          <span class="angular-with-newlines">{{a.note}}</span>
          <br/><div class="noteDetails">{{a.dateCreated | date : 'short'}} <button ng-click="n.deleteQuantum($index, a._id)" >Delete</button>
          <button ng-click="n.editQuantumDialog($index, a._id)" >Edit</button></div>
      </li>
    </ul>
</div>
