<div id="form-container">
    <div class="form-error" ng-show="errorMessage">
        {{ errorMessage }}
    </div>

    <div class="form-input">
        <input type="text" class="text-basic width225 form-style" placeholder="username" ng-model="user.username"/>
    </div>

    <div class="form-input" >
        <input type="text" class="text-basic width225 form-style" placeholder="email" ng-model="user.email"/>
    </div>

    <div class="form-input" >
        <input type="password" class="text-basic width225 form-style" placeholder="password" ng-model="user.password"/>
    </div>

    <div class="" style="width:100%;padding-top:20px;">
        <button class="acceptButton width245" type="button" name="button" ng-click="r.postRegister()">Register</button>
    </div>
</div>
